@import "tailwindcss";

@theme {
  --color-secondary: #f5741c;
  --color-darkBg: #131424;
  --background-image-gradient-cover: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}

:root {
  --secondary: #f5741c;
  --darkBg: #131424;
}

html,body{
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullets {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

